<!DOCTYPE html>
<head>
	<title>OpenAI Chat By GPT-3.5-Turbo</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
	<img src="{{ url_for('static', filename='logo.png') }}" class="icon" />
	<a href="/log">log</a>
	<h3>ChatGPT By ChatGPT</h3>
	<form action="/" method="post" style="text-align: center;">
		<label for="model">Model</label>
		<select id="model" name="model">
			<option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
		</select><br>

		{% if history | length > 0 %}

		<table class="table-rounded-gray">
			<thead>
				<tr>
					<th>Role</th>
					<th>History Content</th>
					<th>Tokens</th>
				</tr>
			</thead>
			<tbody>
				{% for i in range(h) %}
				<tr>
					<td>{{ history[i]['role'] }}</td>
					<td>
						<div class="pre">{{ history[i]['content'] }}</div>
					</td>
					<td>{{ history_tokens[i] }}</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>

		{% endif %}


		{% if messages %}

		<table class="table-rounded">
			<thead>
				<tr>
					<th>Role</th>
					<th>Content</th>
					<th>Tokens</th>
				</tr>
			</thead>
			<tbody>
				{% for i in range(n) %}
				<tr>
					<td>{{ messages[i]['role'] }}</td>
					<td>
						<div class="pre">{{ messages[i]['content'] }}</div>
					</td>
					<td>{{ tokens[i] }}</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>

		{% endif %}

		<textarea class="textarea-rounded" rows="10" name="query" id="query" placeholder="Your request"></textarea><br>

		<input class="btn-rounded" type="submit" value="Generate" id="generateBtn" /><input class="btn-rounded" type="submit"
			value="Reset" name="reset" />

		<div class="loading" style="display:none;">Loading...</div>
	</form>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script>
	$('form').submit(function(){
		// Disable the button
		$('#generateBtn').prop("disabled", true);
		$('#generateBtn').style.visibility = 'hidden'
		// Show the loading indicator
		$(".loading").show();
	});
	</script>

</body>